h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: white;
}
#dov{
    display: flex;
    justify-content: center;
}
#titulo{
    text-align: center;
}