
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to top,#55836F,#365245);
    color: rgb(0, 0, 0);
}
main{
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 1000px;
    padding: 10px;
    margin: auto;
}
#dov{
    display: flex;
    justify-content: center;
}
#titulo{
    text-align: center;
    font-family: "Fredericka the Great", serif;
    font-weight: lighter;
    font-size: 25px;
    
}
